<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" enctype="multipart/form-data" method="post">
    类型图片：<input type="file" name="file"><br/>
    类型名: <input type="text" name="name"><br/>
    <input type="submit" value="提交">
</form>
<hr>
默认头像 <img src="__PUBLIC__/img/headimg.png" alt=""><input type="text" value="__PUBLIC__/img/headimg.png">

<hr>
<h1>添加课程</h1>
类型<select name="typeid" id="">
    <volist id="vo" name="lessontype">
        <option value="{$vo['id']}">{$vo['name']}</option>
    </volist>
</select>
<br>
标题 <input type="text" name="title"><br>
演讲者 <input type="text" name="author"><br>
描述 <textarea name="description" cols="30" rows="10"></textarea><br>
封面 <input type="file" name="cover"><br>
音频头像 <input type="file" name="audio_headimg"><br>
视频头像 <input type="file" name="video_headimg"><br>
是否推荐 <input type="radio" name="recommend" checked value="1">是 <input type="radio" name="recommend" value="0">否 <br>
价格 <input type="text" name="price" value="0"><br>
<input type="submit" value="添加">
</body>
</html>